<!-- footer -->
<footer id="footer">
  <div class="row">
    <div class="columns">
      <div class="topHolder">
        <div class="logo text-center">
          <a href="index.html"><i class="fas fa-book-reader"></i> Education</a>
        </div>
        <ul class="menu align-center">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <ul class="menu align-center">      
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="grid-x align-justify">
        <div class="copyright">
          Copyright &copy; 2020 <a href="#">Education</a>.
        </div>
        <ul class="menu align-center social">
          <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- modal -->
<div class="reveal" id="registerModal" data-reveal>
  <div class="row">
    <div class="columns">
      <h3>Create your Account</h3>
      <p>Est no blandit deleniti theophrastus, at his debitis comprehensam, quem dico erroribus eos ea.</p>
    </div>
  </div>
  <form class="form">
    <div class="row">
      <div class="columns">
        <label>Your Name
          <input type="text">
        </label>
      </div>
      <div class="columns">
        <label>Email Address
          <input type="email">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <label>Phone
          <input type="tel">
        </label>
      </div>
      <div class="columns">
        <label>Password
          <input type="password">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <label>Message
          <textarea></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <input id="checkbox1" type="checkbox">
        <label for="checkbox1">To register with us please tick to agree to our <a href="#">Terms &amp;
            Conditions</a></label>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <button type="button" class="primary button">Register</button>
      </div>
    </div>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>