<!-- header -->
<header id="header">
  <div class="row">
    <div class="columns">
      <div class="title-bar" data-responsive-toggle="responsiveMenu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsiveMenu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      <div class="top-bar" id="responsiveMenu">
        <div class="top-bar-left">
          <ul class="logo">
            <li class="menu-text"><a href="index.html"><i class="fas fa-book-reader"></i> Education</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>